# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/
.venv/
venv/
ENV/
env/

# Flask
*.db
*.sqlite

# Node / Frontend
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/
